
<div class="feature__wrapper">

    <div class="feature__item center">
      <div class="archive__item">
    
        <div class="archive__item-body">
            <h2 class="archive__item-title">Τμήμα Πληροφορικής</h2>
            <div class="archive__item-header">
                overlay_color: "#11111"
                <div class="archive__item-intro">
                    <p>Η δράση του Τμήματος Πληροφορικής είναι προσανατολισμένη σε καινοτόμες εφαρμογές στις κατευθύνσεις των:</p><br/>
                    <small><a href="/site-bilingual/gr/humanistic/">Ανθρωπιστικών-Κοινωνικών Επιστημών</a></small><br/>
                    <small><a href="/site-bilingual/gr/systems/">Πληροφοριακών Συστημάτων</a></small><br/><br/>
                </div>
            </div>
            <p><a href="{{ f_url }}" class="btn {{ f.btn_class }}">{{ f.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
        </div>
      </div>
    </div>

</div>
