
<div class="feature__wrapper">

    <div class="feature__item center">
      <div class="archive__item">
        
        <div class="archive__item-body">
            <h2 class="archive__item-title">Τμήμα Πληροφορικής</h2>
            <div class="archive__item-header">
                
                <div class="archive__item-intro">
                    <p>Η δράση του Τμήματος Πληροφορικής είναι προσανατολισμένη σε καινοτόμες εφαρμογές στις κατευθύνσεις των:</p><br/>
                    <small><a href="/site-bilingual/gr/humanistic/">Ανθρωπιστικών-Κοινωνικών Επιστημών</a></small><br/>
                    <small><a href="/site-bilingual/gr/systems/">Πληροφοριακών Συστημάτων</a></small><br/><br/>
                </div>
            </div>
           <i class='fas fa-download'></i> Install Now
        </div>
      </div>
    </div>

</div>
